<article class="media">
  <figure class="media-left">
    <p class="image is-64x64">
      <img src="http://bulma.io/images/placeholders/128x128.png">
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <%= comment.content %>
      <br/> 
      <button data-commentid="<%= comment.id %>" class="reply button is-info is-outlined">
        Reply
      </button> · 
      <%= time_ago_in_words(comment.created_at) %> ago by <strong><%= comment.user.email %></strong>
    </div>
    <% if current_user %>
      <div class="expandme hidden" data-commentid="<%= comment.id %>">
        <%= form_for [comment, Comment.new] do |f| %>
          <div class="field">
            <%= f.label :content, 'Add a reply', class: 'label' %>
            <div class="control">
              <%= f.text_area :content, class: 'textarea' %>
            </div>
          </div>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.submit "Reply", class: 'button is-info reply-button' %>
        <% end %>
      </div>
    <% end %>
    <%= render partial: 'comments/comment', collection: comment.comments %>
  </div>
</article>