<%= form_with(model: log, local: true) do |form| %>
  <% if log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(log.errors.count, "error") %> prohibited this log from being saved:</h2>

      <ul>
      <% log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :round %>
    <%= form.number_field :round, id: :log_round %>
  </div>

  <div class="field">
    <%= form.label :day %>
    <%= form.number_field :day, id: :log_day %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :log_content %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status, id: :log_status %>
  </div>

  <div class="field">
    <%= form.label :motivation %>
    <%= form.text_field :motivation, id: :log_motivation %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
