<%= form_with(model: log, local: true) do |form| %>
  <% if log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(log.errors.count, "error") %> prohibited this log from being saved:</h2>

      <ul>
      <% log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :created_at, 'Log date', class: 'label' %>
    <div class="control">
      <%= form.date_field :created_at, value: (log.created_at || Time.now), class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= form.label :round, class: 'label' %>
    <div class="control">
      <%= form.number_field :round, id: :log_round, class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= form.label :day, class: 'label' %>
    <div class="control">
      <%= form.number_field :day, id: :log_day, class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= form.label :content, class: 'label' %>
    <%= form.text_area :content, id: :log_content, class: 'textarea' %>
  </div>

  <div class="field">
    <div class="control">
      <% Log.statuses.keys.each do |status| %>
        <%= form.radio_button :status, status %>
        <%= form.label "#{status}_#{status.parameterize.underscore}", status.to_sym %>
      <% end %>
    </div>
  </div>

  <div class="field">
    <%= form.label :motivation, class: 'label' %>
    <div class="select is-info is-large">
      <%= form.select(:motivation, Log.motivations.keys.map {|motivation| [motivation, motivation]}, id: :log_motivation) %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= form.submit "Submit Log", class: 'button is-info' %>
    </div>
  </div>
<% end %>
