<% provide(:title, "Log") %>
<section class="section">
  <div class="container">
    <% @logs.each do |log| %>
      <h2 class="subtitle is-2">Round <%= log.round %> Day <%= log.day %></h2>
      <div>
        <%= log.status %> <%= distance_of_time_in_words(log.created_at, Time.now) %> ago
      </div>
      <div>
        Motivation: <%= log.motivation %>
      </div>
      <div class="content">
        <%= log.content %>
      </div>
      <div>
        <%= link_to 'Show', log, class: 'button is-light' %>
        <%= link_to 'Edit', edit_log_path(log), class: 'button is-warning' if logged_in?(:site_admin) %>
        <%= link_to 'Destroy', log, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button is-danger' if logged_in?(:site_admin) %>
      </div>
    <% end %>

    <%= link_to 'New Log', new_log_path, class: 'button is-info' if logged_in?(:site_admin) %>
  </div>
</section>