<% provide(:title, "Log") %>

<section class="section">
  <div class="container content is-large">
    <h2>Challenge Progress</h2>
    <progress class="progress is-success" value="<%= @progress %>" max="100"><%= @progress %>%</progress>
    <p>Total Time: <%= humanize @logs.sum("completed_minutes") %></p>
  </div>
</section>

<% @logs.each do |log| %>
  <section class="section">
    <div class="container content is-medium">
      <hr>
      <h2><%= link_to "Round #{log.round} Day #{log.day}", log %></h2>
      <p>
        <strong><%= log.status %></strong> <%= distance_of_time_in_words(log.created_at, Time.now) %> ago
        <br>
        <% if log.completed_minutes %>
          <strong>Time:</strong> <%= humanize log.completed_minutes %>
          <br>
        <% end %>
        <% if log.commits %>
          <strong>Commits:</strong> <%= log.commits %>
          <br>
        <% end %>
        <strong>Motivation:</strong> <%= log.motivation %>
        <br>
        <strong>Log:</strong>
      </p>
      <%= markdown log.content %>
      <p>
        <%= link_to 'Show', log, class: 'button is-info' %>
        <%= link_to 'Edit', edit_log_path(log), class: 'button is-warning' if logged_in?(:site_admin) %>
        <%= link_to 'Destroy', log, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button is-danger' if logged_in?(:site_admin) %>
      </p>
    </div>
  </section>
<% end %>

<section class="section">
  <div class="container">
    <%= link_to 'New Log', new_log_path, class: 'button is-info' if logged_in?(:site_admin) %>
  </div>
</section>