<% provide(:title, "Round #{@log.round} Day #{@log.day}") %>
<section class="section">
  <div class="container content is-medium">

    <h2>Round <%= @log.round %> Day <%= @log.day %></h2>

    <p>
      <strong><%= @log.status %></strong> <%= distance_of_time_in_words(@log.created_at, Time.now) %> ago
      <br>
      <% if @log.completed_minutes %>
        <strong>Time:</strong> <%= humanize @log.completed_minutes %>
        <br>
      <% end %>
      <% if @log.commits %>
        <strong>Commits:</strong> <%= @log.commits %>
        <br>
      <% end %>
      <strong>Motivation:</strong> <%= @log.motivation %>
      <br>
      <strong>Log:</strong>
    </p>
    <article>
      <%= markdown @log.content %>
    </article>

    <h2>Comments</h2>
    <% if current_user %>
      <%= form_for [@log, Comment.new] do |f| %>
        <div class="field">
          <%= f.label :content, 'Add a comment', class: 'label' %>
          <div class="control">
            <%= f.text_area :content, class: 'textarea' %>
          </div>
        </div>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.submit "Add comment", class: 'button is-info' %>
      <% end %>
    <% end %>

    <div class="margin-top" id="comment-group">
      <%= render(partial: 'comments/comment', collection: @log.comments) %>
    </div>

    <p>
      <%= link_to 'Edit', edit_log_path(@log), class: 'button is-warning' if logged_in?(:site_admin) %>
      <%= link_to 'Back', logs_path, class: 'button is-info' %>
    </p>

  </div>
</section>