<% provide(:title, "Round #{@log.round} Day #{@log.day}") %>
<section class="section">
  <div class="container">

    <h1 class="subtitle is-2">Round <%= @log.round %> Day <%= @log.day %></h1>

    <div>
      <%= @log.status %> <%= distance_of_time_in_words(@log.created_at, Time.now) %> ago
    </div>
    
    <div>
      Motivation: <%= @log.motivation %>
    </div>
    
    <div class="content">
      <%= markdown @log.content %>
    </div>

    <%= link_to 'Edit', edit_log_path(@log), class: 'button is-warning' if logged_in?(:site_admin) %>
    <%= link_to 'Back', logs_path, class: 'button is-light' %>

  </div>
</section>