<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= yield(:title) %> | Chazona's #100DaysOfCode Log</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@chznbaum">
    <meta name="twitter:creator" content="@chznbaum">
    <meta property="og:url" content="<%= request.url %>">
    <meta property="og:title" content="<%= yield(:title) %>: Chazona's #100DaysOfCode Log">
    <meta property="og:description" content="A day in the log of Chazona Baum">
  </head>

  <body>
    <nav class="navbar is-size-5">
      <div class="container">
        <div class="navbar-brand">
          <%= link_to root_url, class: 'navbar-item' do %>
            <%= svg 'logo' %>
          <% end %>
          <%= link_to 'Log', logs_path, class: 'navbar-item is-hidden-desktop' %>
        </div>
        <div id="navbarMenu" class="navbar-menu">
          <div class="navbar-start">
            <%= link_to 'Log', logs_path, class: 'navbar-item' %>
            <%= link_to 'About', about_url, class: 'navbar-item' %>
            <%= link_to 'Contact', contact_url, class: 'navbar-item' %>
          </div>
          <div class="navbar-end">
            <span class="navbar-item">
              <% if current_user %>
                <%= link_to 'Log Out', destroy_user_session_url, method: :delete, class: 'button is-primary inverse' %>
              <% else %>
                <%= link_to 'Log In', new_user_session_url, class: 'button is-primary inverse' %>
              <% end %>
            </span>
          </div>
        </div>
      </div>
    </nav>
    <section class="hero is-primary is-medium is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title is-1"><%= yield(:title) %></h1>
        </div>
      </div>
    </section>

    <% if notice %>
      <section class="section">
        <div class="container">
          <div class="notification">
            <%= notice %>
          </div>
        </div>
      </section>
    <% end %>
    <% if alert %>
      <section class="section">
        <div class="container">
          <div class="notification is-warning">
            <%= alert %>
          </div>
        </div>
      </section>
    <% end %>

    <%= yield %>

    <footer class="footer">
      <div class="container">
        <div class="columns">
          <div class="column is-8">
            <div class="content">
              <p>#100DaysOfCode Log by <a href="https://chazonabaum.com">Chazona Baum</a> for challenge created by <a href="http://kallaway.io/">Alexander Kallaway</a>.</p>
              <p><%= link_to 'About Chazona and the #100DaysOfCode Challenge', about_url %></p>
            </div>
          </div>
          <div class="column is-4">
            <div class="content">
              <p><%= link_to 'View Logs', logs_url %></p>
              <p><%= link_to 'Contact Chazona', contact_url %></p>
            </div>
          </div>
        </div>
        <small>
          <p>© 2017 <a href="https://chazonabaum.com">Chazona Baum</a>. All rights reserved.</p>
          <p>Source code available on <a href="https://github.com/chznbaum/hundred-days">GitHub</a>.</p>
        </small>
      </div>
    </footer>
  </body>
</html>
