<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Chazona's #100DaysOfCode Log</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar">
        <div class="navbar-brand">
          <%= link_to 'Chazona\'s #100DaysOfCode Log', root_url, class: "navbar-item" %>
          <div class="navbar-burger burger" data-target="navbarMenu">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <div id="navbarMenu" class="navbar-menu">
          <div class="navbar-end">
            <%= link_to 'Home', root_url, class: 'navbar-item' %>
            <%= link_to 'Log', '#', class: 'navbar-item' %>
            <%= link_to 'About', about_url, class: 'navbar-item' %>
            <%= link_to 'Contact', contact_url, class: 'navbar-item' %>
            <%= link_to 'Log In', '#', class: 'navbar-item' %>
          </div>
        </div>
      </nav>
      <% if notice %>
        <div class="notification">
          <button class="delete"></button>
          <%= notice %>
        </div>
      <% end %>
      <% if alert %>
        <div class="notification is-warning">
          <button class="delete"></button>
        <%= alert %>
        </div>
      <% end %>
    </header>

    <%= yield %>

    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p>
            © 2017 Chazona Baum | All rights reserved
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
